<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Myshop</title>
    <script src="/js/additem.js"></script>
    <link rel="stylesheet" href="/css/additemst.css">
</head>
<body>
<div class="top-section">
    <a href="/"><span class="ex">HOME</span></a>
    <span class="ex" th:if="${session.member != null}"></span>
        <a href="/logout"><span class="ex">LOGOUT</span></a>
    </span>
    <a href="/join"><span class="ex">JOIN</span></a>
    <a href="/mypage"><span class="ex">MYPAGE</span></a>
    <a href="/cart"><span class="ex">CART</span></a>
</div>

<form method="post" action="/additem" id="additem-form" enctype="multipart/form-data">
    <table id="container">
        <tr>
            <td id="result" colspan="2"></td>
        </tr>
        <tr>
            <th><label for="name">상품명</label></th>
            <td><input type="text" name="name" id="name" placeholder="상품명 입력해주세요"></td>
        </tr>
        <tr>
            <th><label for="price">가격</label></th>
            <td><input type="text" name="price" id="price" placeholder="가격을 적어주세요"></td>
        </tr>
        <tr>
            <th><label for="itemscript">상품 정보</label></th>
            <td><textarea name="itemscript" id="itemscript" cols="50" rows="20"></textarea></td>
        </tr>
        <tr>
            <th colspan="2">
                <input type="submit" id="submitButn" value="등록하기">
            </th>
        </tr>
    </table>
</form>

</body>
</html>
<!--<nav class="navbar navbar-expand-lg navbar-light bg-light">-->
<!--    <div class="container px-4 px-lg-5">-->
<!--        <a class="navbar-brand" th:href="@{/}">My shop</a>-->
<!--        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>-->
<!--        <div class="collapse navbar-collapse" id="navbarSupportedContent">-->
<!--            <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">-->
<!--                <li class="nav-item"><a class="nav-link active" aria-current="page" th:href="@{/}">Home</a></li>-->
<!--                <li class="nav-item"><a class="nav-link" href="#!">About</a></li>-->
<!--                <li class="nav-item dropdown">-->
<!--                    <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Shop</a>-->
<!--                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">-->
<!--                        <li><a class="dropdown-item" href="#!">모든 상품</a></li>-->
<!--                        <li><hr class="dropdown-divider"/></li>-->
<!--                        <li><a class="dropdown-item" href="#!">인기 상품</a></li>-->
<!--                        <li><a class="dropdown-item" href="#!">새 상품</a></li>-->
<!--                    </ul>-->
<!--                </li>-->
<!--            </ul>-->
<!--            <div th:if="${loginUserid != null}">-->
<!--                <form class="d-flex">-->
<!--                    <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">-->
<!--                        <li class="nav-item"><a th:href="@{/user/myInfo}" class="nav-link">내정보</a></li>-->
<!--                        <li class="nav-item"><a th:href="@{/product/addproduct}" class="nav-link">상품 등록</a></li>-->
<!--                        <li class="nav-item"><a th:href="@{/user/logout}" class="nav-link">로그아웃</a></li>-->
<!--                    </ul>-->
<!--                </form>-->
<!--            </div>-->
<!--            <div th:if="${loginUserid == null}">-->
<!--                <script>-->
<!--                    alert("로그인 후 이용해주세요");-->
<!--                    history.go(-1);-->
<!--                </script>-->
<!--            </div>-->
<!--            <div th:if="${f != null}">-->
<!--                <script>-->
<!--                    alert("상품 등록 실패");-->
<!--                    return false;-->
<!--                </script>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!--</nav>-->
<!-- nav 끝 -->