<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>장바구니</title>
    <link rel="stylesheet" href="/css/cartst.css">
</head>
<body>
<div class="top-section">
    <a href="/"><span class="ex">HOME</span></a>
    <span class="ex" th:if="${session.member != null}"></span>
        <a href="/logout"><span class="ex">LOGOUT</span></a>
    </span>
    <a href="/join"><span class="ex">JOIN</span></a>
    <a href="/mypage"><span class="ex">MYPAGE</span></a>
    <a href="/additem"><span class="ex">ADD ITEM</span></a>
</div>
<form method="post" action="/cart" id="login-form">
    <section class="cart">
        <div class="cart__information">
            <ul>
                <li>장바구니 상품은 최대 30일간 저장됩니다.</li>
                <li>가격, 옵션 등 정보가 변경된 경우 주문이 불가할 수 있습니다.</li>
                <li>오늘출발 상품은 판매자 설정 시점에 따라 오늘출발 여부가 변경될 수 있으니 주문 시 꼭 다시 확인해 주시기 바랍니다.</li>
            </ul>
        </div>
        <table class="cart__list">
            <thead>
            <tr>
                <td colspan="2">상품정보</td>
                <td>옵션</td>
                <td>상품금액</td>
                <td>배송비</td>
            </tr>
            </thead>
            <tbody>
            <tr class="cart__list__detail">
                <td><img src="C:\Users\LG\OneDrive\바탕 화면\2024개발\dreamydaisy_v3\DreamyDaisy\src\main\resources\templates\img\P20200914_174921544_8F927AF5-D704-4920-A21A-139C9CB31495.JPG" alt="magic keyboard"></td>
                <td><a href="#">공식 스토어</a><span class="cart__list__smartstore"> 스마트스토어</span>
                    <p>커스텀 하트 키링</p>
                    <span class="price">15,000원</span><span style="text-decoration: line-through; color: lightgray;">20,000</span>
                </td>
                <td class="cart__list__option">
                    <p>모델명 : 커스텀 하트 쉐이커 키링 / 1개</p>
                    <button class="cart__list__optionbtn">주문조건 추가/변경</button>
                </td>
                <td><span class="price">15,000원</span><br>
                    <button class="cart__list__orderbtn">주문하기</button>
                </td>
                <td>무료</td>
            </tr>
            <tr class="cart__list__detail">
                <td style="width: 13%;">
                    <img src="C:\Users\LG\OneDrive\바탕 화면\2024개발\dreamydaisy_v3\DreamyDaisy\src\main\resources\templates\img\P20200410_175958652_E35FC255-2163-47C8-8C91-36A3D076610E.JPG" alt="magic mouse">
                </td>
                <td style="width: 27%;"><a href="#">공식 스토어</a><span class="cart__list__smartstore"> 스마트스토어</span>
                    <p>커스텀 통통하트 키링</p>
                    <span class="price">8,900원</span>
                </td>
                <td class="cart__list__option" style="width: 27%;">
                    <p>상품 주문 수량: 1개</p>
                    <button class="cart__list__optionbtn">주문조건 추가/변경</button>
                </td>
                <td style="width: 15%;"><span class="price">8,900원</span><br>
                    <button class="cart__list__orderbtn">주문하기</button>
                </td>
                <td style="width: 15%;">무료</td>
            </tr>
            </tbody>
        </table>
    <div class="cart__mainbtns">
        <button class="cart__bigorderbtn left">쇼핑 계속하기</button>
        <button class="cart__bigorderbtn right">주문하기</button>
    </div>
</section>
</form>
</body>
</html>
