<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Mypage</title>
    <link rel="stylesheet" href="/css/itemst.css">
</head>
<body>
<div class="top-section">
    <a href="/"><span class="ex">HOME</span></a>
    <span class="ex" th:if="${session.member == null}"><a href="/member/login">LOGIN</a></span>
    <span class="ex" th:if="${session.member != null}">
        <a href="/member/logout"><span class="ex">LOGOUT</span></a>
    </span>
    <a href="/member/join"><span class="ex">JOIN</span></a>
    <a href="/member/mypage"><span class="ex">MYPAGE</span></a>
    <a href="/member/cart"><span class="ex">CART</span></a>
    <a href="/member/additem"><span class="ex">ADD ITEM</span></a>
</div>
<div class="container">
    <div class="jumbotron">
        <h3 style="text-align: center;" th:text="${item.name}">상품 이름</h3>
        <div class="form-group">
            <label for="price">Price:</label>
            <div class="text-value" id="price" th:text="${item.price}">가격</div>
        </div>
        <div class="form-group">
            <label for="itemscript">Description:</label>
            <div class="text-value" id="itemscript" th:text="${item.itemscript}">설명</div>
        </div>
        <form method="get" action="/items/itemmodify">
            <div class="btn-container">
                <button type="submit" class="btn btn-primary form-control">수정하기</button>
            </div>
        </form>
    </div>
</div>
<script src="http://code.jquery.com/jquery-3.1.1.min.js"></script>
<script src="/js/bootstrap.js"></script>
</body>
</html>