<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf"
      layout:decorate="~{/layout/layout}">
<head>
    <meta charset="UTF-8">
    <title>ITEM</title>
    <link rel="stylesheet" href="/css/itemst.css">
</head>
<body>
<main layout:fragment="content" th:object="${item}">
<div class="container">
    <div class="jumbotron">
        <h3 style="text-align: center;" th:text="${item.name}">상품 이름</h3>
        <div class="form-group">
            <label for="price">Price:</label>
            <div class="text-value" id="price" th:text="${item.price}">가격</div>
        </div>
        <div class="form-group">
            <label for="itemscript">Description:</label>
            <div class="text-value" id="itemscript" th:text="${item.itemscript}">설명</div>
        </div>
        <form method="get" action="/items/item-modify">
            <div class="btn-container">
                <button type="submit" class="btn btn-primary form-control">수정하기</button>
            </div>
        </form>
        <div class="btn-container">
            <button type="submit" class="btn btn-primary form-control">장바구니 담기</button>
        </div>
    </div>
</div>
</main>
<script src="http://code.jquery.com/jquery-3.1.1.min.js"></script>
<script src="/js/bootstrap.js"></script>
</body>
</html>