<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title th:text="${title}">Main</title>
    <link rel="stylesheet" href="/css/mainst.css">
    <style>
        .card a, .card-body a, .price, .fw-bolder {
            text-decoration: none !important;
        }
    </style>
</head>
<body>
<header th:replace="~{fragments/top-section :: topSection}"></header>
<th:block layout:fragment="content"></th:block>
<footer class="mb-5 container-fluid">
    <hr>
    <p> ⓒ 2024 Shopping Mall Example WebSite </p>
</footer>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
</body>
</html>