<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf"
      layout:decorate="~{/layout/layout}">
<head>
    <title>회원가입</title>
    <link rel="stylesheet" href="/css/joinst.css">
</head>
<body>
<main layout:fragment="content">
<form method="post" action="/join" id="join-form" th:object="${saveMemberDto}">
    <div class="container">
        <div class="member-container">
            <div class="header">
                <div>회원 가입을 위해</div>
                <div>정보를 입력해주세요</div>
            </div>
            <div class="user-info">
                <label th:for="email">* EMAIL</label>
                <label>
                    <input type="email" th:field="*{email}" required />
                </label>

                <label th:for="name">* NAME</label>
                <label>
                    <input type="text" th:field="*{name}" required />
                </label>

                <label th:for="password">* PASSWORD</label>
                <label>
                    <input type="password" th:field="*{password}" required />
                </label>

                <label for="confirm-password">* CONFIRM-PASSWORD</label>
                <input type="password" id="confirm-password" name="confirm-password" required />

                <label th:for="phone">* PHONE NUMBER</label>
                <label>
                    <input type="tel" th:field="*{phone}" required />
                </label>
            </div>

            <div class="agree-check">
                <input type="checkbox" id="agree" name="agree" />
                <label for="agree">이용약관 개인정보 수집 및 이용, 마케팅 활용 선택에 모두 동의합니다.</label>
            </div>
            <div class="btn">
                <button>JOIN</button>
            </div>
        </div>
    </div>
</form>
</main>
</body>
</html>