<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf"
      layout:decorate="~{/layout/layout}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/css/loginst.css">
</head>
<body>
<main layout:fragment="content">
<div class="login-wrapper">
    <h2>Login</h2>
    <form method="post" action="/login-proc" id="login-form">
        <input type="email" name="email" placeholder="Email" required>
        <input type="password" name="password" placeholder="Password" required>
        <input type="submit" value="Login">
    </form>
    <div>
        <p type="hidden" th:if="${loginError}" th:text="${loginError}"></p>
    </div>
</div>
</main>
</body>
</html>