<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf"
      layout:decorate="~{/layout/layout}">
<head>
    <meta charset="UTF-8">
    <title>MY PAGE</title>
    <link rel="stylesheet" href="/css/mypagest.css">
</head>
<body>
<main layout:fragment="content" th:object="${member}">
    <div class="container">
        <div class="jumbotron">
            <h3 style="text-align: center;">회원정보 상세</h3>
            <div class="form-group">
                <label for="email">Email:</label>
                <div class="text-value" id="email" th:text="${member.getEmail()}">null</div>
            </div>
            <div class="form-group">
                <label for="name">Name:</label>
                <div class="text-value" id="name" th:text="${member.getName()}">null</div>
            </div>
            <div class="form-group">
                <label for="phone">Phone number:</label>
                <div class="text-value" id="phone" th:text="${member.getPhone()}">null</div>
            </div>

            <form action="/mypage/update" method="get">
                <div class="btn-container">
                    <button class="btn btn-primary form-control" type="submit">수정하기</button>
                </div>
            </form>
        </div>
    </div>
</main>
<script src="http://code.jquery.com/jquery-3.1.1.min.js"></script>
<script src="/js/bootstrap.js"></script>
</body>
</html>
