body {
        margin: 0;
        font-family: Arial, sans-serif;
        }
      .top-section {
        background-color: #F6A5B7;
        text-align: right;
      }
      .ex{
        height: 30px;
        color: white;
        margin-left:10px;
        padding-right: 20px;
        line-height: 30px;
      }
      .banner-section {
        height: 280px;
        background-image: url("https://static.wixstatic.com/media/31c96f_a07c4bbedde44d93998a4afa845fe3c8~mv2.jpg");
        background-size: cover;
        position: relative;
      }
      .search-box {
        position: absolute;
        right: 20px;
        bottom: 20px;
        background-color: #FFF8C1;
        padding: 5px;
        border-radius: 5px;
      }
      #menu ul {
        list-style-type: none;
        padding: 0;
      }
      #menu li {
        display: inline-block;
        margin-right: 10px;
      }
      #menu li a {
        text-decoration: none;
        color: black;
      }
      .row {
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-between;
    }
    .col {
        flex: 1;
        margin: 10px;
    }
    @media (max-width: 1200px) {
        .row-cols-xl-4 .col {
            flex: 0 0 25%;
        }
    }
    @media (max-width: 992px) {
        .row-cols-md-3 .col {
            flex: 0 0 33.3333%;
        }
    }
    @media (max-width: 768px) {
        .row-cols-2 .col {
            flex: 0 0 50%;
        }
    }
    .container-fluid {
    display: flex;
    flex-direction: column;
    align-items: center;
    }