* {
    box-sizing: border-box;
    font-style: normal;
    font-family: 'Roboto', sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 14px;
    margin: 0;
    background-color: #f8f8f8;
}

.top-section {
    width: 100%;
    background-color: #F6A5B7;
    text-align: right;
    padding: 10px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
}

.top-section a {
    text-decoration: none;
    color: white;
    font-size: 16px;
    margin: 0 10px;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 70px;
    padding: 30px;
    background-color: white;
    border: 1px solid #cfcfcf;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 80%;
    max-width: 800px;
}

.jumbotron {
    width: 100%;
    padding: 20px;
}

.form-group {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 15px;
}

.form-group label {
    flex: 0 0 120px;
    text-align: right;
    margin-right: 10px;
    font-weight: bold;
}

.form-group .text-value {
    flex: 1;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #cfcfcf;
    border-radius: 5px;
    font-size: 14px;
    background-color: #f8f8f8;
}

.btn-container {
    display: flex;
    justify-content: center;
    margin-top: 10px; /* 추가된 부분 */
}

.btn-primary {
    background-color: #F6A5B7;
    border: none;
    color: white;
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    max-width: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn-primary:hover {
    background-color: #e595a5;
}

.btn-danger {
    background-color: #F6A5B7;
    border: none;
    color: white;
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    max-width: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn-danger:hover {
    background-color: #F6A5B7;
}

.btn-secondary {
    background-color: #6c757d;
    border: none;
    color: white;
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    max-width: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn-secondary:hover {
    background-color: #5a6268;
}

p {
    text-align: center;
}