<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/layout/layout}">
<body>
<main layout:fragment="content">
    <div class="banner-section">
    </div>
    <br>
    <section class="py-5">
        <div class="container px-4 px-lg-5 mt-5">
            <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-lg-4 justify-content-center">
                <div class="col mb-5" th:each="item : ${items}">
                    <div class="card">
                        <!-- Product image-->
                        <a th:href="@{/items/{id}(id=${item.id})}">
                            <img class="card-img-top"
                                 src="https://shop-phinf.pstatic.net/20240601_73/1717169683214xCCy1_JPEG/118305571900963237_1856526655.JPG?type=f295_381"
                                 alt="..." width="350px" height="300px"/>
                        </a>
                        <!-- Product details-->
                        <div class="card-body p-4">
                            <div class="text-center">
                                <!-- Product price-->
                                <a th:href="@{/items/{id}(id=${item.id})}">
                                    <span class="price" name="price" th:text="${item.price}">$40.00 - $80.00</span>
                                </a>
                                <!-- Product name-->
                                <a th:href="@{/items/{id}(id=${item.id})}">
                                    <h5 class="fw-bolder" name="name" th:text="${item.name}"></h5>
                                </a>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
</body>
</html>