<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dreamdaisy.cart.mapper.CartMapper"> <!-- Ensure this matches the interface's package and name -->
    <select id="findByUserId" parameterType="long" resultType="com.dreamdaisy.cart.domain.Cart">
        SELECT * FROM cart WHERE member_id = #{userId}
    </select>

    <insert id="insertCart" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO cart(member_id) VALUES(#{memberId})
    </insert>

    <select id="findItemsByCartId" parameterType="long" resultType="com.dreamdaisy.cart.domain.CartItem">
        SELECT * FROM cart_item WHERE cart_id = #{cartId}
    </select>

    <insert id="insertCartItem" parameterType="com.dreamdaisy.cart.domain.CartItem">
        INSERT INTO cart_item(cart_id, item_id, quantity) VALUES(#{cartId}, #{itemId}, #{quantity})
    </insert>

    <update id="updateCartItem" parameterType="com.dreamdaisy.cart.domain.CartItem">
        UPDATE cart_item SET quantity = #{quantity} WHERE id = #{id}
    </update>
</mapper>