<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dreamdaisy.mapper.ItemMapper">
    <select id="findAll" resultType="com.dreamdaisy.domain.Item">
        select id, name, price
        from item;
    </select>

    <insert id="save" parameterType="com.dreamdaisy.domain.Item">
        INSERT INTO item (name, price, itemscript)
        VALUES (#{name}, #{price}, #{itemscript});
    </insert>

    <select id="findById" parameterType="long" resultType="com.dreamdaisy.domain.Item">
        SELECT id, name, price, itemscript
        FROM item
        WHERE id = #{id}
    </select>

    <update id="update">
        update item
        set
        name = #{name},
        price = #{price},
        itemscript = #{itemscript}
    </update>

</mapper>