<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dreamdaisy.mapper.MemberMapper">
    <insert id="save" useGeneratedKeys="true" keyProperty="id">
        insert into member (email, name, password, phone)
        values (#{email}, #{name}, #{password}, #{phone})
    </insert>
</mapper>